div{
	border: 1px solid black;
}

h1{
	font-family: "",serif;
	font-size: px;
	color: black;
	text-align:center;
}

h2{
	font-family: "",serif;
	font-size: px;
	color: black;
	text-align:center;
}

h3{
	font-family: "",serif;
	font-size: px;
	color: black;
	text-align:center;
}

h4{
	font-family: "",serif;
	font-size: px;
	color: black;
	text-align:center;
}



			